body{
    background-color: black;
}
section.topofpage{
    background-image: url(Images/outdoors.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: silver;
}
nav{
    display: block;
    width: 100%;
}
nav div{
    background-image: url(Images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}
nav ul{
    float: right;
    margin-top: -75px;
    width: 65%;
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 5%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-shadow: .5px .5px orange;
    text-transform: uppercase;
}
nav ul li a.active{
    color: orange;
    text-shadow: .5px .5px black;
}
body a{
    color: orange;
    text-decoration: none;
}
section p{
    background-color: black;
    color: orange;
    font-size: 200%;
    margin-top: 25%;
    text-align: center;
}
h1{
    background-color: black;
    color: orange;
    padding: 20px;
    text-align: center;
    text-decoration: overline underline;
    text-transform: uppercase;
}
p.about{
    background-color: black;
    color: orange;
    margin: 30px;
    text-align: center;
    font-size: 200%;
    width: 100%;
}
.img{
    background-color: black;
    width: 100%;
}
