a{
    color:black;
}
a.button{
    background-color: transparent;
    background-image: url(Images/button_right.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 30px;
    padding-right: 15px;
}
a.button:hover{
    background-image: url(Images/button_right_hover.png);
}
a.button span{
    background-color: transparent;
    background-image: url(Images/button_left.png);
    display: block;
    line-height: 20px;
    padding: 5px 0 5px 15px;
}
a.button:hover span{
    background-image: url(Images/button_left_hover.png);
}
